<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="clinicaEntities" connectionString="metadata=res://*/Data.clinica.csdl|res://*/Data.clinica.ssdl|res://*/Data.clinica.msl;provider=System.Data.SqlServerCe.4.0;provider connection string='Data Source=&quot;D:\Projetos\GitHub\ProjetoDaniellen\Historico Vert\Data\clinica.sdf&quot;;Password=123456'"
            providerName="System.Data.EntityClient" />
    </connectionStrings>
</configuration>
