<?xml version="1.0"?>
<configuration>
    <connectionStrings>
        <add name="clinicaEntities" connectionString="metadata=res://*/Data.clinica.csdl|res://*/Data.clinica.ssdl|res://*/Data.clinica.msl;provider=System.Data.SqlServerCe.4.0;provider connection string='Data Source=&quot;|DataDirectory|\Data\clinica.sdf&quot;;Password=123456'" providerName="System.Data.EntityClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
